Example

1.column 2, row 3 would be entered as:

['⬜️', '⬜️', '⬜️']

['⬜️', '⬜️', '⬜️']

['⬜️', 'X', '⬜️']

In [ ]:
row1 = ["⬜️","⬜️","⬜️"]
row2 = ["⬜️","⬜️","⬜️"]
row3 = ["⬜️","⬜️","⬜️"]
map = [row1, row2, row3]
print(f"{row1}\n{row2}\n{row3}")
position = input("Where do you want to put the treasure? ")

column=int(position[0])
row=int(position[1])
map[row-1][column-1]='X'

print(f"{row1}\n{row2}\n{row3}")

['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
Where do you want to put the treasure? 23
['⬜️', '⬜️', '⬜️']
['⬜️', '⬜️', '⬜️']
['⬜️', 'X', '⬜️']

## Assignment

Make a rock, paper, scissors game.

Inside the main.py file, you'll find the ASCII art for the hand signals already saved to a corresponding variable: rock, paper, and scissors. This will make it easy to print them out to the console.

Start the game by asking the player:

"What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors."

From there you will need to figure out:

    How you will store the user's input.
    How you will generate a random choice for the computer.
    How you will compare the user's and the computer's choice to determine the winner (or a draw).
    And also how you will give feedback to the player.

In [ ]:
import random

rock = '''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

paper = '''
    _______
---'   ____)____
          ______)
          _______)
         _______)
---.__________)
'''

scissors = '''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

game_images = [rock, paper, scissors]

user_choice = int(input("What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.\n"))
print(game_images[user_choice])

computer_choice = random.randint(0, 2)
print("Computer chose:")
print(game_images[computer_choice])

if user_choice >= 3 or user_choice < 0: 
  print("You typed an invalid number, you lose!") 
elif user_choice == 0 and computer_choice == 2:
  print("You win!")
elif computer_choice == 0 and user_choice == 2:
  print("You lose")
elif computer_choice > user_choice:
  print("You lose")
elif user_choice > computer_choice:
  print("You win!")
elif computer_choice == user_choice:
  print("It's a draw")

What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.
0

    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)

Computer chose:

    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

You win!

## Loops

In [ ]:
names=["sam","arun","karthi","vijay"]
for i in names:
  print(i)

sam
arun
karthi
vijay

In [ ]:
output=[i for i in names if "sam" in names]

In [ ]:
output

['sam', 'arun', 'karthi', 'vijay']

### 1.write a program that calculates the average student height from a List of
heights.

In [ ]:
import numpy as np

n=input("Enter the student heights: ")
n=n.split(",")
n=[int(i) for i in n]
round(np.average(n))

Enter the student heights: 123,124,136,145,110,100

123

### 2. write a program that calculates the highest score from a List of scores.

In [ ]:
scores=input("Enter a scores: ")
scores=scores.split(",")

output=[int(i) for i in scores if i==max(scores)]

print(output)

Enter a scores: 99,45,78,87,60
[99]

## for loops and range

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

1.write a program that calculates the sum of all the even numbers from 1 to 100. Thus, the first even number would be 2 and the last one is 100:

In [ ]:
sum=0
for i in range(0,101):
  if i%2==0:
    sum+=i
print(f"the sum of total even numbers is {sum}")

the sum of total even numbers is 2550

2.write a program that automatically prints the solution to the FizzBuzz game.

In [ ]:
for i in range(0,100):
  if i%3==0 and i%5==0:
    i='FizzBuzz'
  elif i%3==0:
    i='Fizz'
  elif i%5==0:
    i='Buzz'
  else:
    i=i
  print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

## Password generator

In [ ]:
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

print("Welcome to the PyPassword Generator!")
nr_letters= int(input("How many letters would you like in your password?\n")) 
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))

password_list = []

for char in range(1, nr_letters + 1):
  password_list.append(random.choice(letters))

for char in range(1, nr_symbols + 1):
  password_list += random.choice(symbols)

for char in range(1, nr_numbers + 1):
  password_list += random.choice(numbers)

print(password_list)
random.shuffle(password_list)
print(password_list)

password = ""
for char in password_list:
  password += char

print(f"Your password is: {password}")

Welcome to the PyPassword Generator!
How many letters would you like in your password?
5
How many symbols would you like?
3
How many numbers would you like?
2
['J', 'm', 'y', 'U', 'Q', '!', ')', '#', '4', '0']
['0', '4', 'U', '#', 'y', 'J', 'Q', '!', ')', 'm']
Your password is: 04U#yJQ!)m

### While Loops

In [ ]:
i=10

while i>0:
  i-=1
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

## Functions

In [ ]:
def output(name):
  print(f"welcome to python {name}")

output("karthick")

#parameter is name
#argument is karthick

welcome to python karthick

Lambda is a anonymous function that is defined without the name.

In [ ]:
x=lambda x:x*5
x(10)

50

In [ ]:
#filter
x=[1,2,3,4,6,4,3,2]
x=list(filter(lambda x:(x%2==0),x))
print(x)

[2, 4, 6, 4, 2]

Global,Local and NonLocal Variables

      Global-Function outside
      Local-inside a Function
      Non Local-Nested function

In [ ]:
#global variable
x=10

def out():
  #local variable
  x=5
  print(x)

out()
print(x)

5
10

### function with positional and keyword argument

In [ ]:
#positional argument

def my_function(name,age):
  print(f"your name is {name} and your age is {age}")
my_function(34,"arun")

your name is 34 and your age is arun

In [ ]:
#keyword argument
def my_function(name,age):
  print(f"your name is {name} and your age is {age}")
my_function(age=34,name="arun")

your name is arun and your age is 34

You are painting a wall. The instructions on the paint can says that 1 can of paint can cover 5 square meters of wall. Given a random height and width of wall, calculate how many cans of paint you'll need to buy.

number of cans = (wall height ✖️ wall width) ÷ coverage per can.

e.g. Height = 2, Width = 4, Coverage = 5

number of cans = (2 ✖️ 4) ÷ 5

In [ ]:
def paint(width,height,cover):
  no_of_cans=(width*height)/cover
  print(f"You'll need {round(no_of_cans)} cans of paint.")

test_h = int(input("Height of wall: "))
test_w = int(input("Width of wall: "))
coverage = 5
paint(height=test_h, width=test_w, cover=coverage)

Height of wall: 5
Width of wall: 4
You'll need 4 cans of paint.

2.prime or not

In [ ]:

def prime_checker(number):
    is_prime = True
    for i in range(2, number):
        if number % i == 0:
            is_prime = False
    if is_prime:
        print("It's a prime number.")
    else:
        print("It's not a prime number.")
        
n = int(input("Check this number: "))
prime_checker(number=n)

Check this number: 43
It's a prime number.

In [ ]:
def name(f_name,l_name):
  f_name=f_name.title()
  l_name=l_name.title()
  return f_name

name("sam","raj")

'Sam'

Multible returns

In [ ]:
def name(f_name,l_name):
  if f_name=="" or l_name=="":
    return "name is empty"
  formatted_name=f_name.title()
  formatted_l_name=l_name.title()

  return f"{formatted_name},{formatted_l_name}"

print(name(input("Enter a f_name: "),input("Enter a l_name: ")))

Enter a f_name:
Enter a l_name:
name is empty

 create a function called days_in_month() which will take a year and a month as inputs, e.g.
days_in_month(year=2022, month=2)

And it will use this information to work out the number of days in the month, then return that as the output, e.g.:
28

In [ ]:
def is_leap(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
        return True
  else:
    return False
    
def days_in_month(year, month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if month > 12 or month < 1:
    return "Invalid month entered."
  if month == 2 and is_leap(year):
    return 29
  return month_days[month - 1]


year = int(input("Enter a year: "))
month = int(input("Enter a month: "))
days = days_in_month(year, month)
print(days)

Enter a year: 2021
Enter a month: 11
30

function with Doc string

In [ ]:
def my_function(name):
  """
  this function returns the user name.
  """
  return name

my_function("siva")

'siva'

## Caesar Cipher

In [ ]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

def caesar(start_text, shift_amount, cipher_direction):
  end_text = ""
  if cipher_direction == "decode":
    shift_amount *= -1
  for char in start_text:

    if char in alphabet:
      position = alphabet.index(char)
      new_position = position + shift_amount
      end_text += alphabet[new_position]
    else:
      end_text += char
  print(f"Here's the {cipher_direction}d result: {end_text}")

should_end = False
while not should_end:

  direction = input("Type 'encode' to encrypt, type 'decode' to decrypt:\n")
  text = input("Type your message:\n").lower()
  shift = int(input("Type the shift number:\n"))
  shift = shift % 26

  caesar(start_text=text, shift_amount=shift, cipher_direction=direction)

  restart = input("Type 'yes' if you want to go again. Otherwise type 'no'.\n")
  if restart == "no":
    should_end = True
    print("Goodbye")

Type 'encode' to encrypt, type 'decode' to decrypt:
encode
Type your message:
hello
Type the shift number:
5
Here's the encoded result: mjqqt
Type 'yes' if you want to go again. Otherwise type 'no'.
no
Goodbye

## Control Statements

break

In [ ]:
#break it used to terminate the current loop and resume the execution at the next statements
letter="python"
for i in letter:
  if i=='t':
    break
  print(i)

p
y

continue

In [ ]:
#The continue statement rejects all the remaining statements in the current iteration of the loop
letter="python"
for i in letter:
  if i=='t':
    continue
  print(i)

p
y
h
o
n

The pass statement is a null operation

## Dictionary
Dictionary is a key value pair

In [ ]:
my_dict={
    "name":"arun",
    "age":21
    }

1.Write a program that converts their scores to grades. By the end of your program, you should have a new dictionary called student_grades that should contain student names for keys and their grades for values.

In [ ]:
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
}
student_grades={}
for i in student_scores:
  score=student_scores[i]
  if score>90:
    student_grades[i]="Outstanding"
  elif score > 80:
    student_grades[i] = "Exceeds Expectations"
  elif score > 70:
    student_grades[i] = "Acceptable"
  else:
    student_grades[i] = "Fail"
  print(score)

81
78
99
74
62

In [ ]:
student_grades

{'Draco': 'Acceptable',
 'Harry': 'Exceeds Expectations',
 'Hermione': 'Outstanding',
 'Neville': 'Fail',
 'Ron': 'Acceptable'}

## Nested Dictionary

In [ ]:
dic={
    "fruits":['mango','apple','orange'],
     'colors':{
         "name":"red"
     }
}

print(dic['colors']['name'])
print(dic)

red
{'fruits': ['mango', 'apple', 'orange'], 'colors': {'name': 'red'}}

In [ ]:
travel_log = [
{
  "country": "France",
  "visits": 12,
  "cities": ["Paris", "Lille", "Dijon"]
},
{
  "country": "Germany",
  "visits": 5,
  "cities": ["Berlin", "Hamburg", "Stuttgart"]
},
]


def add_new_country(country,visit,cities):
  country={
      "country":country,
      "visit":2,
      "cities":cities
  }

  travel_log.append(country)



add_new_country("Russia", 2, ["Moscow", "Saint Petersburg"])
print(travel_log)

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lille', 'Dijon']}, {'country': 'Germany', 'visits': 5, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Russia', 'visit': 2, 'cities': ['Moscow', 'Saint Petersburg']}]

In [ ]:
travel_log

[{'cities': ['Paris', 'Lille', 'Dijon'], 'country': 'France', 'visits': 12},
 {'cities': ['Berlin', 'Hamburg', 'Stuttgart'],
  'country': 'Germany',
  'visits': 5},
 {'cities': ['Moscow', 'Saint Petersburg'], 'country': 'Russia', 'visit': 2}]

## Simple Calculator using function and Dictionaries

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b

operations={
  "+":add,
  "-":sub,
  '*':mul,
  '/':div
}



for number in operations:
  print(number)

choice=input("choose the operations you performed: ")

res=operations[choice](num1,num2)

print(f"The result is {res}")

Enter a numbers: 19
Enter a number: 19
+
-
*
/
choose the operations you performed: -
The result is 0